name: "[{{ .Env }}] Infra & Apps Deploy"
concurrency:
  group: {{ print "${{ github.workflow }}" }}
  cancel-in-progress: false

defaults:
  run:
    shell: bash

env:
  AWS_REGION: {{ .AwsRegion }}
  ENV: {{ .Env }}
  SSH_PUBLIC_KEY: {{ .PublicKey }}
  NAMESPACE: {{ .Namespace }}
  AWS_PROFILE: gringaming-dev01
  IZE_LOG_LEVEL: debug
  IZE_PREFER_RUNTIME: docker
on:
  workflow_dispatch

jobs:

  infra:  # Create infrastructure for services on push to Develop branch
    runs-on: ubuntu-latest
    env:
      TAG: {{ print `"${{ github.sha }}"` }}

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: {{ print "${{ secrets.AWS_ACCESS_KEY_ID_DEV }}" }}
          aws-secret-access-key: {{ print "${{ secrets.AWS_SECRET_ACCESS_KEY_DEV }}" }}
          aws-region: {{ print "${{ env.AWS_REGION }}" }}

      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: {{ print "${{ env.SSH_PUBLIC_KEY }}" }}
          name: id_rsa.pub
          known_hosts: unnecessary
          if_key_exists: replace

      - name: Create AWS Profile
        run: ize gen aws-profile
        shell: bash

      - name: ize setup
        uses: hazelops/action-setup-ize@0.0.1
        with:
          version: 1.0.0

      - name: Deploy Infra
        run: ize up infra
        shell: bash


{{ range $key, $value := .Apps }}
     {{ $key }}:
        runs-on: ubuntu-latest
        name: {{ $key }}
        env:
          TAG: {{ print `"${{ github.sha }}"` }}
        needs: infra

        steps:
          - name: Configure AWS Credentials
            uses: aws-actions/configure-aws-credentials@v1
            with:
              aws-access-key-id: {{ print "${{ secrets.AWS_ACCESS_KEY_ID_DEV }}" }}
              aws-secret-access-key: {{ print "${{ secrets.AWS_SECRET_ACCESS_KEY_DEV }}" }}
              aws-region: {{ print "${{ env.AWS_REGION }}" }}

          - name: Checkout Code
            uses: actions/checkout@v2
            with:
              submodules: true

          - name: Install SSH key
            uses: shimataro/ssh-key-action@v2
            with:
              key: {{ print "${{ env.SSH_PUBLIC_KEY }}" }}
              name: id_rsa.pub
              known_hosts: unnecessary
              if_key_exists: replace

          - name: Create AWS Profile
            run: ize gen aws-profile
            shell: bash

          - name: Ize Setup
            uses: hazelops/action-setup-ize@0.0.1
            with:
              version: 1.0.0

          - name: Deploy App
            run: ize up {{ print "${{ github.job }}" }}
            shell: bash
 {{ end }}
